@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

*{
    margin: 0;
    background-color: black;
    overflow: hidden;
}
html{
    height: 100%;
    display: flex;
    align-items: center;
}

.game{
    color: white;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5vw;
}
.playButton{
    height: 50px;
    margin: 10px;
    display: block;
    font-family: "Pixelify Sans", sans-serif;
    color: white;
    font-size: 20px;
    border: 2px white solid;
    transition: all 0.5s ease;
}
.playButton:hover{
    color: rgb(235, 211, 0);
    border-color: rgb(235, 211, 0);
}

.multButton{
    height: 50px;
    margin: 10px;
    display: none;
    font-family: "Pixelify Sans", sans-serif;
    color: white;
    font-size: 20px;
    border: 2px white solid;
    transition: all 0.5s ease;
}
.multButton:hover{
  color: #00ffff;
  border-color: rgb(0, 255, 255);
}
.compButton{
    height: 50px;
    margin: 10px;
    display: none;
    font-family: "Pixelify Sans", sans-serif;
    color: white;
    font-size: 20px;
    border: 2px white solid;
    transition: all 0.5s ease;
}
.compButton:hover{
  color: #ff0000;
  border-color: red;
}
.titleGame{
    display: block;
    align-items: none;
    width: none;
    height: none;
    margin: 5vw;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 40px;
}
.screenGame{
    width: none;

}
.textGameSingle{
  display: none;
}
.textGameMulti{
  display: none;
}
.gameplay{
    height: none;
    width: none;
    border: 2px solid white;
    display: none;
}
.board{
    display: none;
}
